h1 {
    color: white;
    font-weight: bolder;
    text-shadow: rgba(0, 0, 0, 0.45) 2px 2px 0;
}


mat-card-header {
    color: white;
    margin-bottom: -16px;
}

mat-card-content {
    height: 80vh;
    width: 40vw;
    overflow-y: scroll;
}

mat-icon {
    margin-top: 16px;
    margin-right: 16px;
}

mat-form-field {
    margin-left: 20px;
    width: 100%;
}

mat-list {
    margin-left: 40px;
}

