<mat-toolbar color="primary">
    <button mat-icon-button class="icon-button" aria-label="Logo">
        <img class="icon" ngSrc="./assets/images/cidadania.jpg" alt="Logo" height="1024" width="1024">
    </button>
    <div class="vr"></div>
    <span>SITI</span>
    <span class="spacer"></span>
    <button mat-button>
        Opções de acessibilidade
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>contrast</mat-icon>
    </button>
</mat-toolbar>
<mat-toolbar>
    <button (click)="setView(2)" mat-button class="f-size black" [ngClass]="{'text-primary': selectView === 2}">
        Federal
    </button>
    <div class="vr-a"></div>
    <mat-form-field class="e-size black" (click)="setView(1)">
        <mat-label>Estadual</mat-label>
        <mat-select [(value)]="state.state" [ngClass]="{'text-primary': selectView === 1}">
            <mat-option [value]="state.state">
                {{ state.name }}
            </mat-option>
            <mat-option *ngFor="let st of getStatesOptions()" [value]="st.state" [disabled]="true">{{ st.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="vr-a"></div>
    <mat-form-field class="e-size black" (click)="setView(0)">
        <mat-label>Municipal</mat-label>
        <mat-select [(value)]="city.name" [ngClass]="{'text-primary': selectView === 0}">
            <mat-option [value]="city.name">
                {{ city.name }}
            </mat-option>
            <mat-option *ngFor="let ct of getCitiesOptions()" [value]="ct.name" [disabled]="true">{{ ct.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <span class="spacer"></span>
    <button mat-button class="black">Distribuição Geral</button>
    <span class="spacer-b"></span>
    <button mat-button class="black">Banco de Gastos</button>
</mat-toolbar>

<app-box [selectView]="selectView"></app-box>
