.spacer {
    flex: 1 1 auto;
}

.spacer-b {
    margin-left: 32px;
    margin-right: 32px;
}

.icon-button {
    background: none;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.icon {
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

.vr {
    border-left: 2px solid #2f334f;
    margin-right: 32px;
    margin-left: 32px;
    height: 48px;
}

.vr-a {
    border-left: 1px solid #2f334f;
    rotate: -15deg;
    margin-right: 16px;
    margin-left: 16px;
    height: 48px;
}

.f-size {
    width: 128px;
    margin: 0;
    padding: 0;
}

.e-size {
    width: 192px;
    margin: 0 0 -1.5rem;
    padding: 0;
}

.black {
    color: black;
    font-size: 16px;
}
