
.block {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-shadow: black 2px 2px 10px;
    border-radius: 6px;
}
.block strong {
    padding-top: 16px;
    padding-bottom: 16px;
}

.sdg-icons {
    display: grid;
    grid-template-rows: repeat(8, 2fr);
    grid-template-columns: repeat(7, 2fr);
    grid-gap: 8px;
}

/* MUNICIPAL */

.health-m {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: #a12727;
}

.technology-m {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #278fa1;
}

.sport-m {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #b97a04;
}

.communication-m {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: #1b5ea1;
}

.infra-m {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 10;
    background-color: #167a77;
}

.assistance-m {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 10;
    background-color: #16457a;
}

.education-m {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 10;
    background-color: #3a673a;
}

.defense-m {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #a11b1b;
}

.growth-m {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 8;
    background-color: #9b4481;
}

.culture-m {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #5b458a;
}

.security-m {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #9d9334;
}

.environment-m {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 8;
    background-color: #226b31;
}

.habitation-m {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 10;
    background-color: #317265;
}

/* ESTADUAL */
.health-e {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #a12727;
}

.technology-e {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #278fa1;
}

.sport-e {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 10;
    background-color: #b97a04;
}

.communication-e {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
    background-color: #1b5ea1;
}

.infra-e {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #167a77;
}

.assistance-e {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #16457a;
}

.education-e {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 10;
    background-color: #3a673a;
}

.defense-e {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #a11b1b;
}

.growth-e {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 10;
    background-color: #9b4481;
}

.culture-e {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 6;
    background-color: #5b458a;
}

.security-e {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #9d9334;
}

.environment-e {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #226b31;
}

.habitation-e {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 10;
    background-color: #317265;
}


/* FEDERAL */
.health-f {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: #a12727;
}

.technology-f {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #278fa1;
}

.sport-f {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #b97a04;
}

.communication-f {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: #1b5ea1;
}

.infra-f {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 10;
    background-color: #167a77;
}

.assistance-f {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 10;
    background-color: #16457a;
}

.education-f {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 10;
    background-color: #3a673a;
}

.defense-f {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #a11b1b;
}

.growth-f {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 8;
    background-color: #9b4481;
}

.culture-f {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #5b458a;
}

.security-f {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: #9d9334;
}

.environment-f {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 8;
    background-color: #226b31;
}

.habitation-f {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 10;
    background-color: #317265;
}
