
<div class="container-fluid">
    <div class="sdg-icons mt-2">
        <a disabled class="block text-decoration-none"
           [ngClass]="{'health-m': selectView === 0, 'health-e': selectView === 1, 'health-f': selectView === 2}"
           aria-label="SAÚDE">
            <strong class="text-decoration-none">SAÚDE</strong>
        </a>
        <a disabled class="block text-decoration-none"
           [ngClass]="{'technology-m': selectView === 0, 'technology-e': selectView === 1, 'technology-f': selectView === 2}"
           aria-label="TÉCNOLOGIA">
            <strong class="text-decoration-none">TECNOLOGIA</strong>
        </a>
        <a disabled class="block text-decoration-none"
           [ngClass]="{'security-m': selectView === 0, 'security-e': selectView === 1, 'security-f': selectView === 2}"
           aria-label="SEGURANÇA PÚBLICA">
            <strong class="text-decoration-none">SEGURANÇA PÚBLICA</strong>
        </a>
        <a routerLink="" class="block text-decoration-none"
           [ngClass]="{'education-m': selectView === 0, 'education-e': selectView === 1, 'education-f': selectView === 2}"
           aria-label="EDUCAÇÃO">
            <strong class="text-decoration-none">EDUCAÇÃO</strong>
        </a>
        <a disabled class="block text-decoration-none"
           [ngClass]="{'infra-m': selectView === 0, 'infra-e': selectView === 1, 'infra-f': selectView === 2}"
           aria-label="INFRAESTRUTURA">
            <strong class="text-decoration-none">INFRAESTRUTURA</strong>
        </a>
        <a disabled class="block text-decoration-none"
           [ngClass]="{'assistance-m': selectView === 0, 'assistance-e': selectView === 1, 'assistance-f': selectView === 2}"
           aria-label="ASSISTÊNCIA PÚBLICA">
            <strong class="text-decoration-none">ASSISTÊNCIA PÚBLICA</strong>
        </a>
        <a disabled class="block text-decoration-none"
           [ngClass]="{'environment-m': selectView === 0, 'environment-e': selectView === 1, 'environment-f': selectView === 2}"
           aria-label="MEIO AMBIENTE">
            <strong class="text-decoration-none">MEIO AMBIENTE</strong>
        </a>
        <a disabled class="block text-decoration-none"
           [ngClass]="{'culture-m': selectView === 0, 'culture-e': selectView === 1, 'culture-f': selectView === 2}"
           aria-label="CULTURA">
            <strong class="text-decoration-none">CULTURA</strong>
        </a>
        <a disabled class="block text-decoration-none"
           [ngClass]="{'sport-m': selectView === 0, 'sport-e': selectView === 1, 'sport-f': selectView === 2}"
           aria-label="ESPORTES">
            <strong class="text-decoration-none">ESPORTES</strong>
        </a>
        <a disabled class="block text-decoration-none"
           [ngClass]="{'habitation-m': selectView === 0, 'habitation-e': selectView === 1, 'habitation-f': selectView === 2}"
           aria-label="HABITAÇÃO">
            <strong class="text-decoration-none">HABITAÇÃO</strong>
        </a>
        <a disabled class="block text-decoration-none"
           [ngClass]="{'growth-m': selectView === 0, 'growth-e': selectView === 1, 'growth-f': selectView === 2}"
           aria-label="DESENVOLVIMENTO">
            <strong class="text-decoration-none">DESENVOLVIMENTO</strong>
        </a>
        <a disabled class="block text-decoration-none"
           [ngClass]="{'defense-m': selectView === 0, 'defense-e': selectView === 1, 'defense-f': selectView === 2}"
           aria-label="DEFESA CIVIL">
            <strong class="text-decoration-none">DEFESA CIVIL</strong>
        </a>
        <a disabled class="block text-decoration-none"
           [ngClass]="{'communication-m': selectView === 0, 'communication-e': selectView === 1, 'communication-f': selectView === 2}"
           aria-label="COMUNICAÇÃO">
            <strong class="text-decoration-none">COMUNICAÇÃO</strong>
        </a>
    </div>

</div>
